@model IEnumerable<DevEnvExamProject.Models.ApplicationUser>

<h3>List of Employees</h3>


@foreach (var item in Model)
{
    @item.UserName <br />
    @item.Email<br />
    // ADD A SHOW OF WHAT FUTURE ROLES THE EMPLOYEE IS ASSIGNED TO
    @Html.ActionLink("See Employee Information", "", "")<br />
    <br />
} 

@Html.ActionLink("Go Back", "Index", "Users")
